---json
{
    id: "lindau:2023",
    author: "Lindau, S.",
    title: "MathJSLab",
    year: "2023--2026",
    note: "[programa de computador]. Disponível em:",
    noteUrl: ["https://mathjslab.com", "https://github.com/MathJSLab/mathjslab-app", "https://www.npmjs.com/package/mathjslab", "https://github.com/MathJSLab/mathjslab"],
    isbn: ["978-65-00-84828-1", "978-65-00-82338-7"],
    doi: ["10.5281/zenodo.8396263", "10.5281/zenodo.8396265"],
    url: "https://mathjslab.com"
}
---
{% from "miscBibtexEntry.njk" import miscBibtexEntry %}{{ miscBibtexEntry(id,author,title,year,note,noteUrl,isbn,doi,url) }}
