<template id="math-prompt-template">
    <div id="math-prompt-panel" class="good">
        <table style="width: 100%">
            <tr>
                <td class="cursor">&#x300B;</td>
                <td><textarea id="math-prompt-input" class="inputprompt" style="height: 20px"></textarea></td>
            </tr>
        </table>
        <div id="math-prompt-output-panel" class="output">
            <table>
                <tbody>
                    <tr>
                        <td id="math-prompt-output"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
