/**
 * _variables.scss - Semantic variable definitions.
 */

@use '../base/colors';
@use '../base/sizes';
@use '../abstract/mixins';

$theme-light: colors.$theme-light;
$theme-dark: colors.$theme-dark;
$sizes: sizes.$generated-sizes;

:root {
    @include mixins.define-map($theme-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include mixins.define-map($theme-dark);
    }
}

:root {
    @include mixins.define-map($sizes);
}

// Transitions
$transition-default: 0.3s ease;
