/// _button-select.scss - Global button and select element defaults.

@use '../component/button' as buttons;

button,
select {
  @include buttons.green-button;

  margin: 0.5rem;
}

button:hover,
select:hover {
  @include buttons.green-button-hover;
}

button:active,
select:active {
  @include buttons.button-active;
}

.green-panel button,
.green-panel select {
  @include buttons.gray-button;
}

.green-panel button:hover,
.green-panel select:hover {
  @include buttons.gray-button-hover;
}
