<template id="command-prompt-template">
    <div id="command-prompt-wrapper" class="command-prompt-wrapper">
        <div id="command-prompt-frame-box" class="command-prompt-frame-box">
            <table style="width: 100%">
                <tr>
                    <td class="command-prompt-cursor">&#x300B;</td>
                    <td><textarea id="command-prompt-input" class="command-prompt-input"></textarea></td>
                </tr>
            </table>
            <div id="command-prompt-output" class="command-prompt-output"></div>
        </div>
    </div>
</template>
