$color-white: hsl(0, 0%, 100%);
$color-white-soft: hsl(0, 0%, 96%);
$color-white-mute: hsl(0, 0%, 93%);

$color-black: hsl(0, 0%, 9%);
$color-black-soft: hsl(0, 0%, 13%);
$color-black-mute: hsl(0, 0%, 16%);

$color-divider-light-1: hsla(0, 0%, 24%, 0.3);
$color-divider-light-2: hsla(0, 0%, 24%, 0.1);
$color-divider-dark-1: hsla(0, 0%, 33%, 0.7);
$color-divider-dark-2: hsla(0, 0%, 33%, 0.5);

$color-text-light-1: hsl(0, 0%, 16%);
$color-text-light-2: hsla(0, 0%, 24%, 0.6);
$color-text-dark-1: hsl(0, 0%, 100%);
$color-text-dark-2: hsla(0, 0%, 92%, 0.6);

$color-math-text-light: hsla(0, 0%, 24%, 0.8);
$color-math-text-dark: hsla(0, 0%, 92%, 0.8);

$color-panel-box-shadow-light: hsl(113, 49%, 30%);
$color-panel-box-shadow-dark: hsl(113, 49%, 30%);

$color-button-text-light: hsl(0, 0%, 100%);
$color-button-border-light: hsl(120, 100%, 25%);
$color-button-backgroung-to-light: hsl(120, 26%, 53%);
$color-button-backgroung-from-light: hsl(113, 30%, 43%);
$color-button-box-shadow-light: hsl(113, 49%, 30%);
$color-button-text-shadow-light: hsl(113, 49%, 30%);
$color-button-text-dark: hsl(0, 0%, 100%);
$color-button-border-dark: hsl(120, 100%, 25%);
$color-button-backgroung-to-dark: hsl(120, 26%, 43%);
$color-button-backgroung-from-dark: hsl(113, 30%, 33%);
$color-button-box-shadow-dark: hsl(113, 49%, 20%);
$color-button-text-shadow-dark: hsl(113, 49%, 20%);

$color-pre-code-background-light: hsl(0, 0%, 90%);
$color-pre-code-background-dark: hsl(0, 0%, 20%);

$color-a-light: hsla(120, 100%, 37%, 1);
$color-a-hover-light: hsla(120, 100%, 23%, 1);
$color-a-dark: hsla(120, 100%, 37%, 1);
$color-a-hover-dark: hsla(120, 100%, 23%, 1);
$color-a-background-hover-light: hsla(120, 100%, 37%, 0.2);
$color-a-background-hover-dark: hsla(120, 100%, 37%, 0.2);

$color-input-background-light: hsl(120, 35%, 91%);
$color-input-background-dark: hsl(120, 35%, 91%);

$color-input-background-hover-light: hsl(0, 0%, 96%);
$color-input-background-hover-dark: hsl(0, 0%, 96%);
$color-input-background-focus-light: hsl(60, 100%, 87%);
$color-input-background-focus-dark: hsl(60, 100%, 87%);

$color-input-text-light: hsl(0, 100%, 50%);
$color-input-text-dark: hsl(0, 100%, 35%);
$color-input-text-focus-light: hsl(0, 100%, 40%);
$color-input-text-focus-dark: hsl(0, 100%, 25%);

$color-backgroung-red-light: hsl(0, 52%, 88%);
$color-backgroung-green-light: hsl(120, 52%, 88%);
$color-backgroung-blue-light: hsl(240, 52%, 88%);
$color-backgroung-yellow-light: hsl(60, 52%, 88%);

$color-backgroung-red-dark: hsl(0, 52%, 16%);
$color-backgroung-green-dark: hsl(120, 52%, 16%);
$color-backgroung-blue-dark: hsl(240, 52%, 16%);
$color-backgroung-yellow-dark: hsl(60, 52%, 16%);

$color-divider-red-light-1: red;
$color-divider-red-light-2: red;
$color-divider-green-light-1: green;
$color-divider-green-light-2: green;
$color-divider-blue-light-1: blue;
$color-divider-blue-light-2: blue;
$color-divider-yellow-light-1: yellow;
$color-divider-yellow-light-2: yellow;

$color-divider-red-dark-1: red;
$color-divider-red-dark-2: red;
$color-divider-green-dark-1: green;
$color-divider-green-dark-2: green;
$color-divider-blue-dark-1: blue;
$color-divider-blue-dark-2: blue;
$color-divider-yellow-dark-1: yellow;
$color-divider-yellow-dark-2: yellow;
